
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.prod
/.env.production
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/frontend/.env
.idea/
###< symfony/framework-bundle ###

###> media files ###
/app/public/media/telegram/*
!/app/public/media/telegram/.gitkeep
###< media files ###

