# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    App\AdminUser\Doctrine\CurrentUserExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection }
    App\Bot\Doctrine\Extension\BotCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection }
    App\Config\Doctrine\ConfigCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection }
    App\Catalog\Doctrine\ProductCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection }
    App\Catalog\Doctrine\CategoryCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection }

    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # Password processor for AdminUser
    App\AdminUser\State\AdminUserPasswordProcessor:
        arguments:
            $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'
            $passwordHasher: '@security.user_password_hasher'

    # Bot media service
    App\Bot\Service\BotMediaService:
        arguments:
            $projectDir: '%kernel.project_dir%'

    # Bot creation processor
    App\Bot\State\BotCreationProcessor:
        arguments:
            $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'

    # Bot update processor
    App\Bot\State\BotUpdateProcessor:
        arguments:
            $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'

    # Bot deletion processor
    App\Bot\State\BotDeletionProcessor:
        arguments:
            $removeProcessor: '@api_platform.doctrine.orm.state.remove_processor'

    # Catalog processors
    App\Catalog\State\ProductProcessor:
        arguments:
            $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'

    App\Catalog\State\CategoryProcessor:
        arguments:
            $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
