# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\AdminUser\Doctrine\CurrentUserExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection, entity: App\AdminUser\Entity\AdminUser }
    App\Bot\Doctrine\Extension\BotCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection, entity: App\Bot\Entity\Bot }
    App\Config\Doctrine\ConfigCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection, entity: App\Config\Entity\Config }
    App\Catalog\Doctrine\ProductCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection, entity: App\Catalog\Entity\Product }
    App\Catalog\Doctrine\CategoryCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection, entity: App\Catalog\Entity\Category }
    App\Button\Doctrine\ButtonCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection, entity: App\Button\Entity\Button }
    App\Template\Doctrine\TemplateCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection, entity: App\Template\Entity\Template }
    App\Post\Doctrine\PostCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection, entity: App\Post\Entity\Post }
    App\User\Doctrine\UserCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection, entity: App\User\Entity\User }
    App\Mailout\Doctrine\MailoutCollectionExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection, entity: App\Mailout\Entity\Mailout }

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # AdminUser entity listener (replaces AdminUserPasswordProcessor)
    App\AdminUser\EventListener\AdminUserEntityListener:
        tags:
            - { name: doctrine.orm.entity_listener, event: prePersist, entity: App\AdminUser\Entity\AdminUser }
            - { name: doctrine.orm.entity_listener, event: preUpdate, entity: App\AdminUser\Entity\AdminUser }

    # Bot media service
    App\Bot\Service\BotMediaService:
        arguments:
            $projectDir: '%kernel.project_dir%'

    # Bot entity listener (replaces processors)
    App\Bot\EventListener\BotEntityListener:
        tags:
            - { name: doctrine.orm.entity_listener, event: prePersist, entity: App\Bot\Entity\Bot }
            - { name: doctrine.orm.entity_listener, event: postPersist, entity: App\Bot\Entity\Bot }
            - { name: doctrine.orm.entity_listener, event: preUpdate, entity: App\Bot\Entity\Bot }
            - { name: doctrine.orm.entity_listener, event: postUpdate, entity: App\Bot\Entity\Bot }
            - { name: doctrine.orm.entity_listener, event: postRemove, entity: App\Bot\Entity\Bot }

    App\Catalog\EventListener\CatalogEntityListener:
        tags:
            - { name: doctrine.orm.entity_listener, event: prePersist, entity: App\Catalog\Entity\Product }
            - { name: doctrine.orm.entity_listener, event: preUpdate, entity: App\Catalog\Entity\Product }
            - { name: doctrine.orm.entity_listener, event: prePersist, entity: App\Catalog\Entity\Category }
            - { name: doctrine.orm.entity_listener, event: preUpdate, entity: App\Catalog\Entity\Category }

    App\Button\EventListener\ButtonEntityListener:
        tags:
            - { name: doctrine.orm.entity_listener, event: prePersist, entity: App\Button\Entity\Button }
            - { name: doctrine.orm.entity_listener, event: preUpdate, entity: App\Button\Entity\Button }

    App\Template\EventListener\TemplateEntityListener:
        tags:
            - { name: doctrine.orm.entity_listener, event: prePersist, entity: App\Template\Entity\Template }
            - { name: doctrine.orm.entity_listener, event: preUpdate, entity: App\Template\Entity\Template }

    App\Post\EventListener\PostEntityListener:
        tags:
            - { name: doctrine.orm.entity_listener, event: prePersist, entity: App\Post\Entity\Post }
            - { name: doctrine.orm.entity_listener, event: preUpdate, entity: App\Post\Entity\Post }

    App\User\EventListener\UserEntityListener:
        tags:
            - { name: doctrine.orm.entity_listener, event: prePersist, entity: App\User\Entity\User }
            - { name: doctrine.orm.entity_listener, event: preUpdate, entity: App\User\Entity\User }

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
